.thread,
.comments {
  padding: 10px 20px;
  width: 100%;
  color: #aaa;
  overflow: hidden;
  border-radius: 15px;
  background: #434343;
}

.thread h2 {
  color: white;
  margin: 10px 0;
}

.thread h2,
.containerBody {
  clear: both;
}

.containerBody {
  max-width: 100%;
  border-bottom: 1px solid black;
  display: block;
}

.containerBody p {
  font-size: 12pt;
  text-rendering: none;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0 0 16px 0;
}

.containerBody img {
  display: block;
  margin: auto;
  max-height: 800px;
  max-width: 100%;
}

.video {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tags {
  margin-top: 7px;
  float: left;
  display: flex;
  align-items: center;
}

.tags svg {
  font-size: 20px;
}

.tags span {
  font-size: 11pt;
  cursor: pointer;
  padding: 2px 5px;
}

.tags span:hover {
  color: #fff;
}

.comments {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .thread,
  .comments {
    width: 100%;
    border-radius: 0px;
    padding: 0 15px;
    padding-top: 10px;
  }

  .containerBody {
    border-radius: 0px;
    width: 100%;
    margin: 0;
  }
}
