.thread,
.comments {
  padding: 10px 20px;
  width: 100%;
  color: #aaa;
  overflow: hidden;
  border-radius: 15px;
  background: #434343;
}

.comments {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .thread,
  .comments {
    width: 100%;
    border-radius: 0px;
    padding: 0 15px;
    padding-top: 10px;
  }
}
