.navIcons {
  float: right;
  height: 100%;
  position: relative;
  width: fit-content;
}

/* This class solely exists to vertically center the icons group */
.navIconContainer {
  position: absolute;
  height: 100%;
  align-items: center;
}

.navIconContainer svg {
  background-color: #454545;
  padding: 6px;
  color: white;
  font-size: 46px;
  margin-left: 0.15em;
  cursor: pointer;
  border-radius: 10px;
}

.navIconContainer {
  display: flex;
  right: 25px;
}

.navIconContainer svg {
  display: block;
}

.navIconContainer div {
  position: relative;
}

@media screen and (max-width: 600px) {
  .navIcons {
    display: none;
  }
}
