.container {
  width: 100%;
  max-height: 600px;
  background: #434343;
  position: relative;
  border-radius: 10px;
  padding: 10px 35px 0 35px;
  margin: 10px auto 0px auto;
  color: #aaa;
  overflow: hidden;
}

.container h4,
.author,
.containerBody {
  max-width: 100%;
  margin: 0;
  display: block;
}

.container h4,
.author {
  max-height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container h4 {
  margin: 5px 0;
  font-size: 14pt;
  cursor: pointer;
  clear: both;
}

.container h4:hover {
  color: #fff;
}

.author {
  margin-top: 5px;
  font-size: 10pt;
  float: left;
}

.author::after {
  clear: both;
}

.interact {
  margin: 5px 0;
  color: #fff;
}

.deleteShortcut {
  color: rgba(255, 255, 255, 0.3);
}

.interact,
.deleteShortcut {
  font-size: 25px;
  float: right;
}

.interact svg {
  cursor: pointer;
  overflow: hidden;
  cursor: pointer;
  margin-left: 5px;
}

.interact svg,
.deleteShortcut svg {
  cursor: pointer;
}

.interact svg:last-of-type:hover,
.deleteShortcut svg:hover {
  color: #9c9c9c;
}

.blueHover:hover,
.blueHover.active {
  color: #1f8cd4;
}

.flagged {
  color: #800000;
}

.containerBody {
  overflow: hidden;
  max-height: 460px;
  min-height: 25px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.containerBody p {
  font-size: 12pt;
  text-rendering: none;
  overflow-wrap: break-word;
  padding: 0 15px;
}

.containerBody img {
  display: block;
  margin: auto;
  max-height: 460px;
  max-width: 100%;
}

.video {
  background: #000;
}

.video iframe {
  display: block;
  margin: auto;
  width: 720px; /* width of wrapper is 1050 px, diff = 0.685714286 */
  height: 405px;
}

@media screen and (max-width: 1400px) {
  .video {
    background: transparent;
  }

  /* width of wrapper is 650 */
  .video iframe {
    width: 648px;
    height: 365px;
  }
}

@media screen and (max-width: 900px) {
  .video {
    background: transparent;
  }

  /* width of wrapper is 450 */
  .video iframe {
    width: 448px;
    height: 252px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    border-radius: 0px;
    padding: 0 15px;
    padding-top: 10px;
  }

  .containerBody {
    border-radius: 0px;
    width: 100%;
    margin: 0;
  }

  .video {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
