.modal {
    position: fixed;
    top: 30vh;
    left: calc(50% - 250px);
    width: 500px;
    height: fit-content;
    color: #000;
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
    z-index: 101;
}

.modalBody {
    width: 100%;
    text-align: center;
    display: grid;
}

.modalBody footer button {
    float: right;
}