.addComment {
  display: block;
  margin: 15px auto;
  width: 100%;
  overflow: auto;
}

.addComment label {
  margin: 5px;
  display: block;
}

.addComment textarea {
  resize: vertical;
  border: none;
  width: 100%;
  font-size: 12pt;
  min-height: 2em;
  height: 2em;
  display: block;
  clear: right;
  padding: 5px;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.addComment textarea:focus {
  border-bottom: 1px solid #fff;
  outline: none;
}

.interact {
  float: right;
  display: block;
  margin-top: 5px;
}

.cancel {
  background: none;
}

.submit {
  background-color: #7b7b7b;
  margin-left: 10px;
}

.interact > input {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  border: none;
}
