.container,
.actionContainer {
  border-radius: 10px;
  background: #434343;
  padding: 10px 0;
}

.container h3 {
  text-align: center;
}

.actionContainer {
  text-align: center;
}

.actionContainer button {
  margin: auto;
}

.containerBody {
  margin: auto;
  width: 400px;
  font-size: 15pt;
  color: #aaa;
}

.info {
  padding: 0px;
  list-style: none;
  text-align: left;
}

.options a {
  display: block;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0px;
  }
}
