.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftButtons,
.rightButtons {
  width: fit-content;
}

.leftButtons button {
  margin-right: 5px;
}

.rightButtons svg {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .buttonWrap {
    margin: 0 10px;
  }
}
