/* ### FULL THREAD STYLING ### */
.titleFull {
  color: #fff;
  margin: 10px 0;
  clear: both;
}

/* ### PREVIEW THREAD STYLING ### */
.titlePreview {
  max-width: 100%;
  max-height: 1.2em;
  font-size: 14pt;
  margin: 5px 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  clear: both;
}

.titlePreview:hover {
  color: #fff;
}
