.container,
.actionContainer {
  border-radius: 10px;
  background: #434343;
  padding: 10px 0;
}

.container h1 {
  text-align: center;
}

.buttonGroup {
  margin: auto;
  width: fit-content;
}

.buttonGroup button {
  margin: 0 5px 5px;
}

.container form {
  border-radius: 10px;
  max-width: 540px;
  margin: auto;
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
  background: #545454;
}

.container form textarea {
  width: 100%;
  min-height: 100px;
  background: transparent;
  border: 2px solid grey;
  color: #fff;
  resize: vertical;
}

.actionContainer {
  text-align: center;
}

.actionContainer button {
  margin: auto;
}

.formButtons {
  margin-top: 5px;
  float: right;
}

.formButtons button {
  margin: 0 2px;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0px;
  }
}
