.leftButtons {
  width: fit-content;
  display: inline-block;
  clear: right;
}

.leftButtons button {
  margin-right: 5px;
}

.rightButtons {
  width: fit-content;
  float: right;
}

.rightButtons svg {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .buttonWrap {
    margin: 0 10px;
  }
}
