.button,
.createButton {
  border: none;
  border-radius: 25px;
  background: #590075;
  color: white;
  margin: 0 10px 0 0;
  width: fit-content;
  font-size: 14pt;
  padding: 10px 20px;
  user-select: none;
  cursor: pointer;
}

.createButton {
  float: right;
  margin-right: 0;
}

.createButton svg {
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .buttonWrap {
    margin: 0 10px;
  }
}
