.container {
  border-radius: 10px;
  margin-bottom: 25px;
}

.inputGroup {
  width: 100%;
  font-size: 15pt;
  padding: 5px 0;
  position: relative;
  cursor: text;
  user-select: none;
}

.inputGroup label {
  position: absolute;
  top: 10px;
  font-size: 15pt;
  transition: top 0.05s, font-size 0.05s;
  cursor: text;
}

.inputGroup label.active {
  top: 0;
  font-size: 10pt;
}

.inputGroup input {
  width: 100%;
  display: block;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  margin-top: 15px;
  font-size: 12pt;
  border-bottom: 1px solid #fff;
}

.inputGroup input:focus {
  border-bottom: 1px solid #590075;
}

.inputGroup input.error {
  border-bottom: 1px solid #ca2850;
}

.container small {
  font-size: 10pt;
  word-wrap: break-word;
  float: left;
}

.container small,
.inputGroup label.error {
  color: #ca2850;
}
