.menu {
  position: absolute;
  display: none;
  top: 56px;
  left: 0;
  z-index: 5;
  height: calc(100vh - 56px);
  width: 100%;
  color: white;
}

.navigation {
  padding: 10px 0;
  position: relative;
  margin: 0;
  display: block;
  background: #505050;
  width: 80%;
  height: 100%;
  list-style-type: none;
  z-index: 6;
}

.navigation li {
  text-align: center;
  font-size: 16pt;
  padding: 5px;
  cursor: pointer;
}

.navigation li.divider {
  border-bottom: 1px solid #404040;
  margin: 10px 0;
  width: 100%;
}

.background {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .menu.active {
    display: block;
  }
}
