.styledButton {
  border: none;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.styledButton svg {
  margin-right: 5px;
}

.styledButton:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.1);
}

.styledButton:active {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.15);
}

.primary {
  background-color: #590075;
}

.secondary {
  background-color: #1f8cd4;
}

.clear {
  background-color: transparent;
  border: 2px solid #590075;
}

.disabled {
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

.disabled,
.disabled:active,
.disabled:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.15);
}

.large {
  font-size: 16pt;
  padding: 10px 20px;
}

.medium {
  font-size: 14pt;
  padding: 10px 20px;
}

.small {
  font-size: 10pt;
  padding: 10px;
}