.comment {
  margin: 10px 0;
  border-bottom: 2px solid #555555;
  padding: 5px 10px;
  font-size: 14pt;
  overflow: auto;
  color: #c7c7c7;
}

.comment:last-of-type {
  border-bottom: none;
}

.author {
  clear: left;
  font-size: 12pt;
  font-weight: bold;
  display: block;
  color: #dadada;
}

.content {
  display: block;
  margin: 3px 0;
}

.quote {
  display: block;
  float: left;
  font-size: 10pt;
  margin: 0 0 5px 0;
  color: #999999;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote:hover {
  color: #c7c7c7;
}

.action,
.interact {
  float: right;
  clear: left;
  font-size: 20px;
  color: #7b7b7b;
  cursor: pointer;
}

.action svg:hover {
  color: #ca2850;
}

.interact:hover,
.interact.active {
  color: #1f8cd4;
}

.flagged {
  color: #ca2850;
}
