.interact {
  font-size: 25px;
  float: right;
  margin: 8px 0 0;
  color: #7b7b7b;
  display: flex;
  align-items: center;
}

.interact svg {
  cursor: pointer;
  margin-right: 5px;
}

.interact svg:hover {
  color: #9c9c9c;
}

.active,
.likeIcon.active:hover,
.likeIcon:hover {
  color: #1f8cd4;
}